* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgh: #1d2021;
    --bg0: #282828;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --fg0: #fbf1c7;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    --red: #cc241d;
    --light-red: #fb4934;
    --green: #98971a;
    --light-green: #b8bb26;

    --display: "Bebas Neue";
    --text: "Roboto";
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: var(--text, sans-serif);
    color: var(--fg1);

    background-color: var(--bg0);
}

#brp {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 0.8rem;

    border-radius: 6px;
    padding: 12px 20px;
    background-color: var(--bg1);
}

#brp-title {
    font-family: var(--display, cursive);
    font-size: 2.4rem;
}

#brp-preview {
    height: 100px;
    width: 200px;
    border: 12px solid var(--green);
    background-color: var(--light-green);
    margin-bottom: 12px;
}

#brp-settings {
    display: grid;
    grid-template: auto auto / auto auto;
    gap: 6px 6px;
}

#brp-settings > input[type="text"] {
    border: none;
    text-align: center;
    padding: 2px 4px;

    color: var(--bgh);
    font-family: var(--text, sans-serif);
    background-color: var(--fg1);
}